<form action="/admin/block" method="POST">
    <label for="email" class="block-label">Enter user email:</label>
    <input type="email" name="email" required class="block-input">
    <button type="submit" class="block-button">Block user</button>
  </form>