<form method="post" action="/admin/promote">
    <label for="email" class="block-label">Email of the user to promote:</label>
    <input type="email" name="email" required class="block-input"> 
    <button type="submit" class="block-button">Promote to admin</button>
  </form>