<<<<<<< HEAD
<h2 class="newBook">
=======
<h2>
>>>>>>> 7e3dc9d6195031bf8dafd08965d927d5c448804a
    New book
</h2>
<form  action="/books" method="post" >
<%-  include(`_form.ejs`)%>
<<<<<<< HEAD
<div class="form-row books-controls">
    <a href="/books" class="cancel-book"> Cancel</a>
    <button type="submit" class="submit-book">Submit</button>
</div>
=======
<a href="/books"> Cancel</a>
<button type="submit">Submit</button>
>>>>>>> 7e3dc9d6195031bf8dafd08965d927d5c448804a
</form>