<form method="POST" action="<%= url %>?_method=DELETE">
<<<<<<< HEAD
    <button type="submit"  class="delete-button">
=======
    <button type="submit" >
>>>>>>> 7e3dc9d6195031bf8dafd08965d927d5c448804a
        delete
    </button>