<% if(req.user && author.user.equals(req.user.id)) { %>
<form method="POST" action="<%= url %>?_method=DELETE">
    <button type="submit"  class="delete-button">
    <button type="submit" >
        delete
    </button>
</fom>
    <% } %>