<% if(locals.req.user && author.user&& author.user.equals(locals.req.user.id)|| locals.req.user.role === 'admin') { %>
<form method="POST" action="<%= url %>?_method=DELETE">
    <button type="submit" class="delete-button">
        delete
    </button>
</form>
    <% } %>