<<<<<<< HEAD
<header>
    <nav class="header-container">
        <a class="main-header" href="/">
            Library
        </a>
        <ul class="ul-links">
            <li class="header-links">
                <a href="/">Home</a>
            </li>
            <li class="header-links">
                <a href="/authors/new">new author</a>
            </li>
            <li class="header-links">
                <a href="/authors">Search Author</a>
            </li>
            <li class="header-links">
                <a href="/books/new">New Book</a>
            </li>
            <li class="header-links">
                <a href="/books">Search Books</a>
            </li>
        </ul>
    </nav>
</header>
=======
<ul>
    <li>
        <a href="/authors">author</a>
    </li>
    <li>
        <a href="/authors/new">new author</a>
    </li>
    <li>
        <a href="/books">books</a>
    </li>
    <li>
        <a href="/books/new">New Book</a>
    </li>
</ul>
>>>>>>> 7e3dc9d6195031bf8dafd08965d927d5c448804a
