<h2 class="recently">Recently Added</h2>
<div>
    <% books.map((i)=> { %>
        <div class="recently-container">
            <a href="/books/<%= i.id %>">
                <img src="<%= i.coverImagePath %>" height="300px" width="150px">
                <% }) %>
        </div>