:root {
    --black-color: black;
    --white-color:white;
    --hover-color: goldenrod;
    --gold-color:gold;
}
.newBook {
    color: var(--white-color);
}   
.search-book {
    color: var(--white-color);
}
.search-button {
    color: var(--black-color);
    margin-bottom: 10px;
    padding: 5px;
    width: 75px;
}
.filepond {
    width: 200px;
    height: 150px;
    color: black !important;
}
.title {
    color: var(--white-color);
}

/*newBooks-form*/

.form-row {
    display: flex;
    margin-bottom: 15px;
}
.form-item {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    flex-direction: column;
    margin-left: 2rem;
    color: white;
} 
.form-item:first-child {
    margin-left: 0;
}
.form-item-no-grow {
    flex-grow: 0;
}
.form-item input , .form-item select , .form-item textarea {
    height: 30px;
    font-size: 15px;
    color: black!important;
}
.form-item textarea {
    height: 100%;
    resize: 0;
}
.books-controls {
    gap: 20px;
}
.cancel-book {
    text-decoration: none;
    color: white;
    border: 1px solid gray;
    padding: 5px;
    background-color: wheat;
    color: black;
}
.submit-book {
    padding: 5px;
}


/*Book*/


 .author-book , .publish-book , .page-book , .desc-book , .uploaded {
    color: var(--white-color);
}

.book-controls {
    display: flex;
    gap: 5px;
}
.edit-book , .view-book {
    text-decoration: none;
    font-size: 25px;
    color: var(--white-color);
}
.edit-book:hover , .view-book:hover {
    color: var(--hover-color);
}

.publish , .uploadedBy  {
    color: var(--gold-color);
} 
/*Edit page*/
.cancel-edit {
    text-decoration: none;
    color: white;
}   
.edit-book {
    color: var(--white-color);
}

@media only screen and (max-width: 768px) {
    /* Adjust font size and spacing for book controls on small screens */
    .book-controls a {
      font-size: 20px;
      margin-right: 3px;
    }
    .search {
        text-align: center;
    }
    .book-cover {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    /* Center book actions on small screens */
    .book-actions {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
  }

  /*Media query*/
@media only screen and (max-width: 600px) {
    .form-row {
    flex-direction: column;
    }
    .form-item {
    margin-left: 0;
    }
    .form-item input, .form-item select, .form-item textarea {
    height: 40px;
    font-size: 16px;
    }
    .books-controls {
    display: flex;
    flex-direction: column;
    }
    .cancel-book {
    margin-top: 10px;
    /* margin-bottom: 10px; */
    text-align: center;
    }
    .submit-book {
    margin-top: 10px;
    }
    }