<<<<<<< HEAD
<label class="author-label">Name</label>
<input type="text" placeholder="add a Name" name="name"  value="<%= author.name %>" class="author-input">
=======
<label>Name</label>
<input type="text" placeholder="add a Name" name="name"  value="<%= author.name %>">
>>>>>>> 7e3dc9d6195031bf8dafd08965d927d5c448804a
