<h3 class="add-author">Edit Author</h3>
<form action="/authors/<%= author.id %>?_method=PUT" method="post">
    <%- include(`_form.ejs`) %>
    <a href="/authors" class="cancel-author">Cancel</a>
    <button type="submit" class="submit-author">Submit</button>
</form>