<<<<<<< HEAD
<h3 class="add-author">Add an Author</h3>
<form action="/authors" method="post">
    <%- include(`_form.ejs`) %>
    <a href="/authors" class="cancel-author">Cancel</a>
    <button class="submit-author">Submit</button>
=======
<h3>Add an Author</h3>
<form action="/authors" method="post">
    <%- include(`_form.ejs`) %>
    <a href="/authors">Cancel</a>
    <button>Submit</button>
>>>>>>> 7e3dc9d6195031bf8dafd08965d927d5c448804a
</form>