<h3 class="add-author">Add an Author</h3>
<form action="/authors" method="post">
    <%- include(`_form.ejs`) %>
    <a href="/authors" class="cancel-author">Cancel</a>
    <button class="submit-author">Submit</button>
</form>